<section class="w-75 mx-auto rounded shadow p-3 bg-main-light">
  <h1>Shop Cart</h1>
  <p class="text-main">Total Price: {{cartData.totalCartPrice}}</p>
  <div class="row border-bottom py-2" *ngFor="let item of cartData.products">
    <div class="col-md-1">
      <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
    </div>
    <div class="col-md-11 d-flex align-items-center justify-content-between">
      <div>
        <h3 class="h6">{{item.product.title}}</h3>
        <p class="text-main">price: {{item.price}}</p>
        <button (click)="removeItem(item.product._id)" class="btn m-0 p-0 text-main">
          <i class="fas fa-trash-can"></i> Remove
        </button>
      </div>
      <div>
        <button
        #btn1
        (click)="changeCount(item.count + 1 , item.product._id, btn1, btn2)" class="btn border-success btn-sm ">+</button>
        <span> {{item.count}} </span>
        <button
        #btn2
        (click)="changeCount(item.count - 1 , item.product._id , btn1, btn2)" class="btn border-success btn-sm">-</button>
      </div>
    </div>                  

  </div>
  <button [routerLink]="['/payment', 'cartData._id']" class="main-btn mt-3 ">online payment <img src="./assets/images/visa.svg" alt="visa logo"></button>

</section>
